package ${virginPackage}.dto;
import java.util.Date;
import java.io.Serializable;
import java.sql.*;

import javax.validation.constraints.*;

import lombok.Data;


/**
* @author Zathura Code Generator http://zathuracode.org/
* www.zathuracode.org
* 
*/
@Data
public class ${metaData.getRealClassName()}DTO implements Serializable {

	private static final long serialVersionUID = 1L;

	
	
	
	#foreach($member  in $variableDto)	
	private  $member;	
	#end
}
