package  ${virginPackage}.repository;

import java.math.BigDecimal;

import $package.${metaData.getRealClassName()};
#if($composedKey == true)
    import $package.${metaData.primaryKey.getRealClassName()};
#end
/**
* Interface for   ${metaData.getRealClassName()}Repository.
*
*/
public interface  ${metaData.getRealClassName()}Repository extends JpaGenericRepository<${metaData.getRealClassName()}, ${metaData.getPrimaryKey().getType().getSimpleName()}> {

}