package ${virginPackage}.controller;

import ${virginPackage}.mapper.${metaData.getRealClassName()}Mapper;
import ${virginPackage}.service.${metaData.getRealClassName()}Service;
import java.util.List;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;

import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import ${package}.*;
import ${virginPackage}.dto.${metaData.getRealClassName()}DTO;

@RestController
@RequestMapping("/${metaData.getRealClassNameAsVariable()}")
public class ${metaData.getRealClassName()}RestController {
	
	private static final Logger log = LoggerFactory.getLogger(${metaData.getRealClassName()}RestController.class);

	@Autowired
    private ${metaData.getRealClassName()}Service ${metaData.getRealClassNameAsVariable()}Service;
  
  	@Autowired
	private ${metaData.getRealClassName()}Mapper ${metaData.getRealClassNameAsVariable()}Mapper;
     
    @PostMapping(value = "/save${metaData.getRealClassName()}")
    public void save${metaData.getRealClassName()}(@RequestBody ${metaData.getRealClassName()}DTO ${metaData.getRealClassNameAsVariable()}DTO) throws Exception {
    	try {
    		${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()}Mapper.${metaData.getRealClassNameAsVariable()}DTOTo${metaData.getRealClassName()}(${metaData.getRealClassNameAsVariable()}DTO);
    		
    		${metaData.getRealClassNameAsVariable()}Service.save${metaData.getRealClassName()}(${metaData.getRealClassNameAsVariable()});
    	} catch (Exception e) {
    		log.error(e.getMessage(), e);
    		throw e;
    	}
    }
    
    #if (${primaryKey.isPrimiaryKeyAComposeKey()})	
    	@DeleteMapping(value = "/delete${metaData.getRealClassName()}#foreach($cka in $composeKeyAttributes)/{${cka.getShowName()}}#end") 
    #else	
    	@DeleteMapping(value = "/delete${metaData.getRealClassName()}/{${primaryKey.getShowName()}}") 
    #end
    public void delete${metaData.getRealClassName()}(#if (${primaryKey.isPrimiaryKeyAComposeKey()}) #foreach($cka in $composeKeyAttributes) @PathVariable("${cka.getShowName()}") ${cka.getType().getSimpleName()} ${cka.getShowName()} #if($foreach.hasNext) , #end #end #else @PathVariable("${primaryKey.getShowName()}") ${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()}#end) throws Exception {
    	try {
    		
    		#if (${primaryKey.isPrimiaryKeyAComposeKey()})
				
				${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()} = new ${primaryKey.getType().getSimpleName()}();
				
				#foreach($cka in $composeKeyAttributes)
					${primaryKey.getShowName()}.set${cka.getShowName().substring(0,1).toUpperCase()}${cka.getShowName().substring(1,${cka.getShowName().length()})}(${cka.getShowName()});
				#end
				
				${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()}Service.get${metaData.getRealClassName()}(${metaData.primaryKey.getShowName()});
				
			#else
				${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()}Service.get${metaData.getRealClassName()}(${primaryKey.getShowName()});
			#end
    	
    		${metaData.getRealClassNameAsVariable()}Service.delete${metaData.getRealClassName()}(${metaData.getRealClassNameAsVariable()});
    	} catch (Exception e) {
    		log.error(e.getMessage(), e);
    		throw e;
    	}
    }
     
    @PutMapping(value = "/update${metaData.getRealClassName()}/")
    public void update${metaData.getRealClassName()}(@RequestBody ${metaData.getRealClassName()}DTO ${metaData.getRealClassNameAsVariable()}DTO) throws Exception {
    	try {
    		${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()}Mapper.${metaData.getRealClassNameAsVariable()}DTOTo${metaData.getRealClassName()}(${metaData.getRealClassNameAsVariable()}DTO);
    		
    		${metaData.getRealClassNameAsVariable()}Service.update${metaData.getRealClassName()}(${metaData.getRealClassNameAsVariable()});
    	} catch (Exception e) {
    		log.error(e.getMessage(), e);
    		throw e;
    	}
    }
    
    @GetMapping(value = "/getData${metaData.getRealClassName()}")
    public List<${metaData.getRealClassName()}DTO> getData${metaData.getRealClassName()}() throws Exception {
		try {
			return ${metaData.getRealClassNameAsVariable()}Service.getData${metaData.getRealClassName()}();
		} catch (Exception e) {
			log.error(e.getMessage(), e);
			throw e;
		}
    }
    
     #if (${primaryKey.isPrimiaryKeyAComposeKey()})	
    	@GetMapping(value = "/get${metaData.getRealClassName()}#foreach($cka in $composeKeyAttributes)/{${cka.getShowName()}}#end") 
    #else	
    	@GetMapping(value = "/get${metaData.getRealClassName()}/{${primaryKey.getShowName()}}") 
    #end
    public ${metaData.getRealClassName()}DTO get${metaData.getRealClassName()}(#if (${primaryKey.isPrimiaryKeyAComposeKey()}) #foreach($cka in $composeKeyAttributes) @PathVariable("${cka.getShowName()}") ${cka.getType().getSimpleName()} ${cka.getShowName()} #if($foreach.hasNext) , #end #end #else @PathVariable("${primaryKey.getShowName()}") ${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()}#end) throws Exception {
    	try {
    		#if (${primaryKey.isPrimiaryKeyAComposeKey()})
				
				${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()} = new ${primaryKey.getType().getSimpleName()}();
				
				#foreach($cka in $composeKeyAttributes)
					${primaryKey.getShowName()}.set${cka.getShowName().substring(0,1).toUpperCase()}${cka.getShowName().substring(1,${cka.getShowName().length()})}(${cka.getShowName()});
				#end
				
				${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()}Service.get${metaData.getRealClassName()}(${metaData.primaryKey.getShowName()});
				
			#else
				${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()}Service.get${metaData.getRealClassName()}(${primaryKey.getShowName()});
			#end
    					
			return ${metaData.getRealClassNameAsVariable()}Mapper.${metaData.getRealClassNameAsVariable()}To${metaData.getRealClassName()}DTO(${metaData.getRealClassNameAsVariable()});
		} catch (Exception e) {
			log.error(e.getMessage(), e);
		}
		return null;
    }
        
    
} 