package  ${virginPackage}.service;


import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Test;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.context.SpringBootTest;

/**
* @author Zathura Code Generator http://zathuracode.org/
* www.zathuracode.org
* 
*/

@SpringBootTest
public class ${metaData.getRealClassName()}ServiceTest{

	private static final Logger log = LoggerFactory.getLogger(${metaData.getRealClassName()}ServiceTest.class);

	@Autowired
	private ${metaData.getRealClassName()}Service ${metaData.getRealClassNameAsVariable()}Service;
	
	@Test
	@DisplayName("findAll")
	public void findAll(){
		assertNotNull(${metaData.getRealClassNameAsVariable()}Service);
    }
				
	@Test
	@DisplayName("save")		
    public void save() throws Exception {
		assertNotNull(${metaData.getRealClassNameAsVariable()}Service);
    }
			
			
	@Test
	@DisplayName("delete")	
	public void delete() throws Exception {
		assertNotNull(${metaData.getRealClassNameAsVariable()}Service);
	}
            
    @Test
	@DisplayName("deleteById")	
    public void deleteById() throws Exception {
    	assertNotNull(${metaData.getRealClassNameAsVariable()}Service);
    }	
			
	@Test
	@DisplayName("update")	
    public void update() throws Exception {
		assertNotNull(${metaData.getRealClassNameAsVariable()}Service);
    }
			
	@Test
	@DisplayName("findById")	
    public void findById() throws Exception {            
    	assertNotNull(${metaData.getRealClassNameAsVariable()}Service);
    }
    
	@Test
	@DisplayName("count")	
    public void count() throws Exception {            
    	assertNotNull(${metaData.getRealClassNameAsVariable()}Service);
    }
			
}
