package  ${virginPackage}.service;


import java.math.*;
import java.util.*;
import java.util.stream.Collectors;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Scope;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import ${virginPackage}.exception.*;
import ${virginPackage}.repository.*;
import ${virginPackage}.utility.Utilities;

import ${package}.*;

import javax.validation.ConstraintViolation;
import javax.validation.ConstraintViolationException;
import javax.validation.Validator;

import lombok.extern.slf4j.Slf4j;

/**
* @author Zathura Code Generator Version 9.0 http://zathuracode.org/
* www.zathuracode.org
* 
*/

@Scope("singleton")
@Service
@Slf4j
public class ${metaData.getRealClassName()}ServiceImpl implements ${metaData.getRealClassName()}Service{

	@Autowired
	private ${metaData.getRealClassName()}Repository ${metaData.getRealClassNameAsVariable()}Repository;
	
	@Autowired
	private Validator validator;
                
    @Override        		
	public void validate(${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()})throws ConstraintViolationException{		
		
		Set<ConstraintViolation<${metaData.getRealClassName()}>> constraintViolations =validator.validate(${metaData.getRealClassNameAsVariable()});
		 if (!constraintViolations.isEmpty()) {			
			throw new ConstraintViolationException(constraintViolations);
		}
		
	}
	
	@Override
	@Transactional(readOnly=true)
	public Long count(){
	 	return ${metaData.getRealClassNameAsVariable()}Repository.count();
	}

	@Override
	@Transactional(readOnly=true)
	public List<${metaData.getRealClassName()}> findAll(){
		log.debug("finding all ${metaData.getRealClassName()} instances");
       	return ${metaData.getRealClassNameAsVariable()}Repository.findAll();
    }
			
			
	@Override
	@Transactional(readOnly = false, propagation = Propagation.REQUIRED,rollbackFor = Exception.class)			
    public ${metaData.getRealClassName()} save(${metaData.getRealClassName()} entity) throws Exception {
		log.debug("saving ${metaData.getRealClassName()} instance");
	   
	    
	    if(entity==null){
			throw new ZMessManager().new NullEntityExcepcion("${metaData.getRealClassName()}");
		}
		
		validate(entity);	
	
		if(${metaData.getRealClassNameAsVariable()}Repository.existsById(entity.get${metaData.primaryKey.getGetNameOfPrimaryName()}())){
           throw new ZMessManager(ZMessManager.ENTITY_WITHSAMEKEY);
        }    
	
	    return ${metaData.getRealClassNameAsVariable()}Repository.save(entity);
	   
    }
			
			
			@Override
			@Transactional(readOnly = false, propagation = Propagation.REQUIRED,rollbackFor = Exception.class)
            public void delete(${metaData.getRealClassName()} entity) throws Exception {
            	log.debug("deleting ${metaData.getRealClassName()} instance");
            	
	            if(entity==null){
	    			throw new ZMessManager().new NullEntityExcepcion("${metaData.getRealClassName()}");
	    		}
    	
            #if(${metaData.getPrimaryKey().isPrimiaryKeyAComposeKey()})
                #foreach($idStringAsVariable  in $finalParamForIdClassAsVariables)
                    $idStringAsVariable
                #end
            #else
                    if(entity.get${metaData.primaryKey.getGetNameOfPrimaryName()}()==null){
                    throw new ZMessManager().new EmptyFieldException("${metaData.primaryKey.getShowName()}");
                    }
            #end
            
            if(${metaData.getRealClassNameAsVariable()}Repository.existsById(entity.get${metaData.primaryKey.getGetNameOfPrimaryName()}())==false){
           		throw new ZMessManager(ZMessManager.ENTITY_WITHSAMEKEY);
        	} 
            
            #if(${metaData.isGetOneToManyProperties()})
	            findById(entity.get${metaData.primaryKey.getGetNameOfPrimaryName()}()).ifPresent(entidad->{	            	
	                #foreach($member  in ${metaData.getOneToManyProperties()})
						#if(${member.getRealClassName().toString().endsWith("s")})
							List<${member.getRealClassName()}> ${member.name} = entidad.get${member.getRealClassName()}es();
	                    #else
							List<${member.getRealClassName()}> ${member.name} = entidad.get${member.getRealClassName()}s();
						#end
	                    if(Utilities.validationsList(${member.name})==true){
                       	 	throw new ZMessManager().new DeletingException("${member.name}");
                        }
	                #end
	            });
            #end
           

           
            
            ${metaData.getRealClassNameAsVariable()}Repository.deleteById(entity.get${metaData.primaryKey.getGetNameOfPrimaryName()}());
            log.debug("delete ${metaData.getRealClassName()} successful");
            
           
            	
            }
            
            @Override
			@Transactional(readOnly = false, propagation = Propagation.REQUIRED,rollbackFor = Exception.class)
            public void deleteById(${metaData.primaryKey.getRealClassName()} id) throws Exception {            
            	log.debug("deleting ${metaData.getRealClassName()} instance");
            	if(id==null){
            		throw new ZMessManager().new EmptyFieldException("${metaData.primaryKey.getShowName()}");
            	}
            	Optional<${metaData.getRealClassName()}> optional${metaData.getRealClassName()}=${metaData.getRealClassNameAsVariable()}Repository.findById(id);
            	if(optional${metaData.getRealClassName()}.isPresent()){
           			delete(optional${metaData.getRealClassName()}.get());
       			}    
            }	
			
			@Override
			@Transactional(readOnly = false, propagation = Propagation.REQUIRED,rollbackFor = Exception.class)
            public ${metaData.getRealClassName()} update(${metaData.getRealClassName()} entity) throws Exception {

				log.debug("updating ${metaData.getRealClassName()} instance");
				
	           
	            
	            	if(entity==null){
		    			throw new ZMessManager().new NullEntityExcepcion("${metaData.getRealClassName()}");
		    		}
		    		
	            validate(entity);
	            
	            
	            if(${metaData.getRealClassNameAsVariable()}Repository.existsById(entity.get${metaData.primaryKey.getGetNameOfPrimaryName()}())==false){
           			throw new ZMessManager(ZMessManager.ENTITY_WITHSAMEKEY);
        		}	            
	
	            return ${metaData.getRealClassNameAsVariable()}Repository.save(entity);
	        
            }
			
			@Override
			@Transactional(readOnly=true)
            public Optional<${metaData.getRealClassName()}> findById(${metaData.primaryKey.getRealClassName()} ${metaData.primaryKey.getShowName()}) {            
            	log.debug("getting ${metaData.getRealClassName()} instance");
            	return ${metaData.getRealClassNameAsVariable()}Repository.findById(${metaData.primaryKey.getShowName()});
            }
			
}
