<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </f:facet>
        <title>Zathuracode</title>
    	<link href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    	<link href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/css/styles.css" rel="stylesheet"/>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
	   <script src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/bootstrap/js/bootstrap.min.js"></script>
	   <script src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/js/custom.js"></script>
       
    </h:head>

    <h:body>        
        <ui:include src="topbar.xhtml" />

        <ui:include src="menu.xhtml" />

       
            <ui:insert name="content">
              
            </ui:insert>
            
            <ui:include src="footer.xhtml" />
        
        
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>               
		<p:dialog modal="true" widgetVar="statusDialog" header="Loading"  draggable="false" closable="false">  
						<p:graphicImage value="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/ajaxloadingbar.gif" />   
		</p:dialog>
		<!-- Expired session -->
		<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}" />
		<p:dialog modal="true" widgetVar="sessionTimeOutDialog" header="Expired session"  draggable="false" closable="false">  
 					<h:outputText value="The session is finished" />
               	<input id="confirmBackToLogin" 
               		type="button" 
               		value="Sign in"
                  	onclick="window.location='#{facesContext.externalContext.requestContextPath}/index.jsp';" />   
		</p:dialog>
   
    
        
    </h:body>

</html>