package ${virginPackage}.test;
import $package.${metaData.getRealClassName()};

/**
* @author Zathura Code Generator http://zathuracode.org/
* www.zathuracode.org
* 
*/
public class ${metaData.getRealClassName()} {

	#if (${primaryKey.isPrimiaryKeyAComposeKey()})
		private ${primaryKey.getType().getSimpleName()} ${metaData.getRealClassName()}Id;
	#else
		private ${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()};
	#end
	#foreach($mom in $manyToOneMembers)
		private ${mom.getType().getSimpleName()} ${mom.getShowName()};	
    #end
	#foreach($sim in $simpleMembers)
		private ${sim.getType().getSimpleName()} ${sim.getShowName()};	
    #end
	#foreach($omm in $oneToManyMembers)
		private Set<${omm.getType().getSimpleName()}> ${omm.getShowName()} = new HashSet<${omm.getType().getSimpleName()}>(0);	
    #end
	
	
	
}	