package ${virginPackage}.${modelName};

#if($oneToManyMembers.isEmpty() == false)
import java.util.HashSet;
import java.util.Set;
#end

import java.util.Date;
import javax.persistence.Id;
import javax.persistence.Entity;
import javax.persistence.Table;
import javax.validation.constraints.*;
import org.hibernate.validator.constraints.*;

/**
* @author Zathura Code Generator http://zathuracode.org/
* www.zathuracode.org
* 
*/
@Entity
@Table ( name="${metaData.getRealClassNameAsVariable()}", schema="${schema}" )
public class ${metaData.getRealClassName()} implements java.io.Serializable {

	#if (${primaryKey.isPrimiaryKeyAComposeKey()})
		@Id
		@NotNull
		private ${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()};
	#else
		@Id
		@NotNull
		private ${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()};
	#end
	#foreach($mom in $manyToOneMembers)
		@NotNull
		private ${mom.getType().getSimpleName()} ${mom.getShowName()};	
    #end
	#foreach($sim in $simpleMembers)
		#if(${sim.getNullable()} == false)
			@NotNull
			#if(${sim.getType().getSimpleName()} == "String")
			@NotEmpty
			@Size(max=${sim.getLength()})
			#end
		#end
		private ${sim.getType().getSimpleName()} ${sim.getShowName()};	
    #end
	#foreach($omm in $oneToManyMembers)
		private Set<${omm.getType().getSimpleName()}> ${omm.getShowName()} = new HashSet<${omm.getType().getSimpleName()}>(0);	
    #end
    
    public ${metaData.getRealClassName()}() {
	}
	
	public ${metaData.getRealClassName()} ($constructorStr){
		#if (${primaryKey.isPrimiaryKeyAComposeKey()})
			this.${primaryKey.getShowName()} = ${primaryKey.getShowName()};
		#else
			this.${primaryKey.getShowName()} = ${primaryKey.getShowName()};
		#end
		#foreach($mom in $manyToOneMembers)
			this.${mom.getShowName()} = ${mom.getShowName()};	
	    #end
		#foreach($sim in $simpleMembers)
			this.${sim.getShowName()} = ${sim.getShowName()};	
	    #end
		#foreach($omm in $oneToManyMembers)
			this.${omm.getShowName()} = ${omm.getShowName()};	
	    #end
	}

		
	public ${primaryKey.getType().getSimpleName()} get${primaryKey.getShowName().substring(0,1).toUpperCase()}${primaryKey.getShowName().substring(1,${primaryKey.getShowName().length()})}() {
	    return this.${primaryKey.getShowName()};
	}
	    
	public void set${primaryKey.getShowName().substring(0,1).toUpperCase()}${primaryKey.getShowName().substring(1,${primaryKey.getShowName().length()})}(${primaryKey.getType().getSimpleName()} ${primaryKey.getShowName()}) {
	    this.${primaryKey.getShowName()} = ${primaryKey.getShowName()};
	}
		

	#foreach($mom in $manyToOneMembers)
		
		public ${mom.getType().getSimpleName()} get${mom.getShowName().substring(0,1).toUpperCase()}${mom.getShowName().substring(1,${mom.getShowName().length()})}() {
	        return this.${mom.getShowName()};
	    }
	    
	    public void set${mom.getShowName().substring(0,1).toUpperCase()}${mom.getShowName().substring(1,${mom.getShowName().length()})}(${mom.getType().getSimpleName()} ${mom.getShowName()}) {
	        this.${mom.getShowName()} = ${mom.getShowName()};
	    }
    
    #end
	#foreach($sim in $simpleMembers)
		
		public ${sim.getType().getSimpleName()} get${sim.getShowName().substring(0,1).toUpperCase()}${sim.getShowName().substring(1,${sim.getShowName().length()})}() {
	        return this.${sim.getShowName()};
	    }
	    
	    public void set${sim.getShowName().substring(0,1).toUpperCase()}${sim.getShowName().substring(1,${sim.getShowName().length()})}(${sim.getType().getSimpleName()} ${sim.getShowName()}) {
	        this.${sim.getShowName()} = ${sim.getShowName()};
	    }
			
    #end
	#foreach($omm in $oneToManyMembers)
		
		public Set<${omm.getType().getSimpleName()}> get${omm.getShowName().substring(0,1).toUpperCase()}${omm.getShowName().substring(1,${omm.getShowName().length()})}() {
	        return this.${omm.getShowName()};
	    }
	    
	    public void set${omm.getShowName().substring(0,1).toUpperCase()}${omm.getShowName().substring(1,${omm.getShowName().length()})}(Set<${omm.getType().getSimpleName()}> ${omm.getShowName()}) {
	        this.${omm.getShowName()} = ${omm.getShowName()};
	    }
			
    #end
	
}	