package  ${virginPackage}.repository;

import ${virginPackage}.repository.Dao;
import $package.${metaData.getRealClassName()};
#if($composedKey)
    import $package.${metaData.primaryKey.getRealClassName()};
#end
/**
* Interface for   ${metaData.getRealClassName()}DAO.
*
*/
public interface  I${metaData.getRealClassName()}DAO extends Dao<${metaData.getRealClassName()}, ${metaData.getPrimaryKey().getType().getSimpleName()}> {

}