<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">
   
   <html>
		<body>
			<f:view>
				<ui:composition>
					<!-- Beging Menu -->
				
							<h:form>
							
								<p:megaMenu style="width:989px">  
									<p:submenu label="Master" icon="ui-icon-pencil">  
							            <p:column>
							            
							            	 #foreach($metaData  in $dataModel.theMetaData)
								            	 <p:submenu label="${metaData.getRealClassName()}">  
								                    <p:menuitem value="Master ${metaData.getRealClassName()}" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/${metaData.getRealClassNameAsVariable()}.xhtml" />  
								               	 </p:submenu>
											 #end   
							            </p:column>
							        </p:submenu>  
															
															
							  
							        <p:submenu label="Data Table" icon="ui-icon-document">
							           <p:column>  
							                #foreach($metaData  in $dataModel.theMetaData)
								            	 <p:submenu label="${metaData.getRealClassName()}">  
								                    <p:menuitem value="${metaData.getRealClassName()}" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/${metaData.getRealClassNameAsVariable()}ListDataTable.xhtml" />  
								               	 </p:submenu>
											 #end     
							            </p:column>
							        </p:submenu>  
							  
							        
							  
							  
							        <p:submenu label="Edit Data Table" icon="ui-icon-contact">  
							            <p:column>  
							                #foreach($metaData  in $dataModel.theMetaData)
								            	 <p:submenu label="${metaData.getRealClassName()}">  
								                    <p:menuitem value="${metaData.getRealClassName()}" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/${metaData.getRealClassNameAsVariable()}ListDataTableEditable.xhtml" />  
								               	 </p:submenu>
											 #end   
							            </p:column>  
							        </p:submenu>  
						  
						        	<p:menuitem value="Quit" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/index.jsp" icon="ui-icon-close" />  
						    
						    </p:megaMenu>  
						</h:form>
					
					<!-- end menu -->
				</ui:composition>
			</f:view>
		</body>
	</html>
</jsp:root>
