package com.rest.controllers;

import java.util.List;

import javax.faces.bean.ManagedProperty;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RestController;

import com.presentation.businessDelegate.IBusinessDelegatorView;
import ${package}.*;
import ${package}.dto.${metaData.getRealClassName()}DTO;

@RestController
@RequestMapping("/${metaData.getRealClassName()}")
public class ${metaData.getRealClassName()}RestController {

	private static final Logger log = LoggerFactory.getLogger(${metaData.getRealClassName()}RestController.class);

	@ManagedProperty(value = "#{BusinessDelegatorView}")
    private IBusinessDelegatorView businessDelegatorView;
  
  	@Autowired
	private I${metaData.getRealClassName()}Mapper ${metaData.getRealClassNameAsVariable()}Mapper;
     
    @PutMapping
    @RequestMapping(value = "/save${metaData.getRealClassName()}")
    public void save${metaData.getRealClassName()}(${metaData.getRealClassName()}DTO entity) throws Exception {
    	try {
    		${metaData.getRealClassName()}Mapper ${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()}Mapper.${metaData.getRealClassNameAsVariable()}DTOTo${metaData.getRealClassName()}Mapper(entity);
    		
    		businessDelegatorView.save${metaData.getRealClassName()}(entity);
    	} catch (Exception e) {
    		log.error(e.getMessage(), e);
    	}
    }
    
    @DeleteMapping
    @RequestMapping(value = "/delete${metaData.getRealClassName()}")
    public void delete${metaData.getRealClassName()}(${metaData.getRealClassName()}DTO entity) throws Exception {
    	try {
    		businessDelegatorView.delete${metaData.getRealClassName()}(entity);
    	} catch (Exception e) {
    		log.error(e.getMessage(), e);
    	}
    }
     
    @PutMapping   
    @RequestMapping(value = "/update${metaData.getRealClassName()}")
    public void update${metaData.getRealClassName()}(${metaData.getRealClassName()}DTO entity) throws Exception {
    	try {
    		businessDelegatorView.update${metaData.getRealClassName()}(entity);
    	} catch (Exception e) {
    		log.error(e.getMessage(), e);
    	}
    }
    
    @PostMapping
    @RequestMapping(value = "/getData${metaData.getRealClassName()}")
    public List<${metaData.getRealClassName()}DTO> getData${metaData.getRealClassName()}() throws Exception {
		try {
			return businessDelegatorView.getData${metaData.getRealClassName()}();
		} catch (Exception e) {
			log.error(e.getMessage(), e);
		}
		return null;
    }
    
    @GetMapping
    @RequestMapping(value = "/get${metaData.getRealClassName()}")
    public ${metaData.getRealClassName()} get${metaData.getRealClassName()}(${metaData.primaryKey.getRealClassName()} ${metaData.primaryKey.getShowName()}) throws Exception {
    	try {
			return businessDelegatorView.get${metaData.getRealClassName()}(${metaData.primaryKey.getShowName()});
		} catch (Exception e) {
			log.error(e.getMessage(), e);
		}
		return null;
    }
        
    
} 