<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


    <!-- FOOTER  -->

      <footer>
         <div class="container">

            <div class="copy text-center">
               Copyright 2017 <a href='http://zathuracode.org/'>Zathuracode</a>
            </div>

         </div>
      </footer>

</ui:composition>
