<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">
   
   <html>
		<body>
			<f:view>
				<ui:composition>
					<!-- Beging header -->
						<div class="jumbotron">
					      <div class="container">
					        <h1>Zathuracode</h1>
					        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
					      </div>
    					</div>
					<!-- end header -->
				</ui:composition>
			</f:view>
		</body>
	</html>
</jsp:root>
