<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/sentinel"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	

		<h:form id="menuform">
							
								<p:menubar toggleable="true">
									<p:submenu label="Master" icon="ui-icon-pencil">  
							            	 #foreach($metaData  in $dataModel.theMetaData)
								                    <p:menuitem value="Master ${metaData.getRealClassName()}" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/${metaData.getRealClassNameAsVariable()}.xhtml" />  
											 #end   
							        </p:submenu>  
															
															
							  
							        <p:submenu label="Data Table" icon="ui-icon-document">
							                #foreach($metaData  in $dataModel.theMetaData)
								                    <p:menuitem value="${metaData.getRealClassName()}" url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/XHTML/${metaData.getRealClassNameAsVariable()}ListDataTable.xhtml" />  
											 #end     
							        </p:submenu>  
							  
						        	<p:menuitem value="Logout"
										url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/index.jsp"
										icon="ui-icon-close" />  
										
			</p:menubar>
		</h:form>
</ui:composition>