<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</h:head>

	<h:body>
		  <ui:composition template="/WEB-INF/facelets/template.xhtml">	
		 
		 	<ui:define name="body">	
				<f:view>
					<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>               
					<p:dialog modal="true" widgetVar="statusDialog" header="Loading"  draggable="false" closable="false">  
   						<p:graphicImage value="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/ajaxloadingbar.gif" />   
					</p:dialog>
					<!-- Expired session -->
					<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}" />
					<p:dialog modal="true" widgetVar="sessionTimeOutDialog" header="Expired session"  draggable="false" closable="false">  
	   					<h:outputText value="The session is finished" />
	                 	<input id="confirmBackToLogin" 
	                 		type="button" 
	                 		value="Sign in"
	                    	onclick="window.location='#{facesContext.externalContext.requestContextPath}/index.jsp';" />   
					</p:dialog>
		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTable${metaData.getRealClassName()}" header="${metaData.getRealClassName()}Data">
							<p:growl id="men"/>				
							<p:dataTable value="#{${metaData.getRealClassNameAsVariable()}View.data}" var="${metaData.getRealClassNameAsVariable()}"
								paginator="true" rows="5">
								## foreach para construir  las columnas de la tabla con los campos que sean id 
								#foreach($member  in $finalParamForIdClassAsVariables2)
										<p:column filterBy="#{$metaData.getRealClassNameAsVariable().$member}" sortBy="#{$metaData.getRealClassNameAsVariable().$member}" >
										 <f:facet name="header">
										<h:outputText value="$member"/>
										</f:facet>
										 <h:outputText value="#{$metaData.getRealClassNameAsVariable().$member}"/>
										 </p:column>
			                    #end	
								## foreach para construir las columnas de la tabla con los campos que no son id
								#foreach($member  in $finalParamVariablesAsList2)
									 #set( $str = $member ) 
			                         #set( $lower = $str.toString().substring(0,1).toLowerCase())
			                         #set($str2 = $str.toString().substring(1))
									
										<p:column filterBy="#{$metaData.getRealClassNameAsVariable().${lower}${str2}}" sortBy="#{$metaData.getRealClassNameAsVariable().${lower}${str2}}" >
										 <f:facet name="header">
										<h:outputText value="$member"/>
										</f:facet>
										 <h:outputText value="#{$metaData.getRealClassNameAsVariable().${lower}${str2}}"/>
										</p:column>   
			                    #end
			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialog${metaData.getRealClassName()}"
										actionListener="#{${metaData.getRealClassNameAsVariable()}View.action_edit}">
										<f:attribute name="selected${metaData.getRealClassName()}" value="#{${metaData.getRealClassNameAsVariable()}}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{${metaData.getRealClassNameAsVariable()}View.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selected${metaData.getRealClassName()}" value="#{${metaData.getRealClassNameAsVariable()}}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{${metaData.getRealClassNameAsVariable()}View.action_new()}" update=":dialog${metaData.getRealClassName()}" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialog${metaData.getRealClassName()}" appendTo="@(body)" draggable="true"
						closable="false" visible="#{${metaData.getRealClassNameAsVariable()}View.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panel${metaData.getRealClassName()}" header="${metaData.getRealClassName()}">							
							    <h:panelGrid columns="2" id="panelGrid" >
									#foreach($member  in $finalParamForIdForViewVariablesInList)
									 #set( $str = $member ) 
							         #set( $upper = $str.toString().substring(0,1).toUpperCase() )
							         #set($str2 = $str.toString().substring(1))
									 <h:outputText id="msg${upper}${str2}" value="${upper}${str2}"/>
									 <p:inputText id="txt${upper}${str2}" binding="#{${metaData.getRealClassNameAsVariable()}View.txt${upper}${str2}}">
									 <p:ajax update=":dialog${metaData.getRealClassName()}" listener="#{${metaData.getRealClassNameAsVariable()}View.listener_txtId}"/>
									 </p:inputText>	
									#end	
									#if($isFinalParamForIdClassAsVariablesForDates)
										#foreach($member  in $finalParamForIdClassAsVariablesForDates)	
										#set( $str = $member ) 
							            #set( $upper = $str.toString().substring(0,1).toUpperCase() )
							            #set($str2 = $str.toString().substring(1))
										<h:outputText id="msg${upper}${str2}" value=" ${upper}${str2}"/>
										##OJO EN EL MANAGEBEAN HAY QUE CREAR UN ACTION PARA QUE EN EL EVENTO DE CAPTURAR LA FECHA SE ACTUALICE EL GROWL DE ID MEN 
										<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{${metaData.getRealClassNameAsVariable()}View.txt${upper}${str2}}" >
										<p:ajax event="dateSelect" listener="#{${metaData.getRealClassNameAsVariable()}View.listener_txt${upper}${str2}}"  />
										</p:calendar>
										#end	
									#end	
									
									#foreach($member  in $finalParamVariablesAsList)
									#set( $str = $member ) 
							        #set( $upper = $str.toString().substring(0,1).toUpperCase() )
							        #set($str2 = $str.toString().substring(1))	
									<h:outputText id="msg${upper}${str2}" value=" ${upper}${str2}"/>
									<p:inputText id="txt${upper}${str2}" disabled="true" binding="#{${metaData.getRealClassNameAsVariable()}View.txt${upper}${str2}}"/>
									#end	
									
									#if($isFinalParamDatesAsList)
										#foreach($member  in $finalParamDatesAsList)
										#set( $str = $member ) 
							            #set( $upper = $str.toString().substring(0,1).toUpperCase() )
							            #set($str2 = $str.toString().substring(1))	
										<h:outputText id="msg${upper}${str2}" value=" ${upper}${str2}"/>
										##OJO EN EL MANAGEBEAN HAY QUE CREAR UN ACTION PARA QUE EN EL EVENTO DE CAPTURAR LA FECHA SE ACTUALICE EL GROWL DE ID MEN 
										<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{${metaData.getRealClassNameAsVariable()}View.txt${upper}${str2}}" >
										<p:ajax event="dateSelect" listener="#{${metaData.getRealClassNameAsVariable()}View.listener_txt${upper}${str2}}" />
										</p:calendar>
										#end	
									#end									
							    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{${metaData.getRealClassNameAsVariable()}View.btnSave}" value="Save" action="#{${metaData.getRealClassNameAsVariable()}View.action_save()}" update=":dialog${metaData.getRealClassName()} :frm:panelDataTable${metaData.getRealClassName()}" />
									<p:commandButton id="btnClear" value="Clear" action="#{${metaData.getRealClassNameAsVariable()}View.action_clear()}" update=":dialog${metaData.getRealClassName()}" />
									<p:commandButton id="btnExit" value="Exit" action="#{${metaData.getRealClassNameAsVariable()}View.action_closeDialog()}" update=":dialog${metaData.getRealClassName()}" />
								</div>
							</p:panel>					
						</h:form>
					</p:dialog>
				</f:view>
			</ui:define>		
		</ui:composition>	
	</h:body>	
</html>	