package ${virginPackage}.presentation.businessDelegate;
import java.util.Date;
import java.util.List;
import java.util.Set;
import java.math.BigDecimal;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Scope;
import org.springframework.stereotype.Service;


#foreach($metaData  in $dataModel.theMetaData)
    import ${packageOriginal}.control.${metaData.getRealClassName()}Logic;
    import ${packageOriginal}.control.I${metaData.getRealClassName()}Logic;
	import ${package}.dto.${metaData.getRealClassName()}DTO;
    import ${package}.${metaData.getRealClassName()};
    #if(${metaData.primaryKey.isPrimiaryKeyAComposeKey()})
        import ${package}.${metaData.primaryKey.getRealClassName()};
    #end
#end
/**
* @author Zathura Code Generator http://zathuracode.org/
* www.zathuracode.org
* 
*/
public interface IBusinessDelegatorView {
#foreach($metaData  in $dataModel.theMetaData)
    public List<${metaData.getRealClassName()}> get${metaData.getRealClassName()}() throws Exception;
    public void save${metaData.getRealClassName()}(${metaData.getRealClassName()} entity) throws Exception;
    public void delete${metaData.getRealClassName()}(${metaData.getRealClassName()} entity) throws Exception;
    public void update${metaData.getRealClassName()}(${metaData.getRealClassName()} entity) throws Exception;
    public ${metaData.getRealClassName()} get${metaData.getRealClassName()}(${metaData.primaryKey.getRealClassName()} ${metaData.primaryKey.getShowName()}) throws Exception;
    public List<${metaData.getRealClassName()}> findByCriteriaIn${metaData.getRealClassName()}(Object[] variables,
    Object[] variablesBetween, Object[] variablesBetweenDates) throws Exception;
    public List<${metaData.getRealClassName()}> findPage${metaData.getRealClassName()}(String sortColumnName, boolean sortAscending,
    int startRow, int maxResults) throws Exception ;
    public Long findTotalNumber${metaData.getRealClassName()}() throws Exception ;
	public List<${metaData.getRealClassName()}DTO>getData${metaData.getRealClassName()}()throws Exception;
	
#end
}
