<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					%d{ISO8601} %-5p [%c] - %m%n
				</pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<!-- Hibernate Logger -->
		<!-- -->
		<Logger name="org.hibernate" level="info"/>
		<Logger name="org.hibernate.SQL" level="debug"/>
		<Logger name="org.hibernate.type.descriptor.sql" level="trace"/>
		 
		
		
		<Root level="info">
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>

</Configuration>